
h1 {
    
}

input {
    width: 300px;
    font-style: italic;
    font-size: 13px;
}

body {
    
}

body {
    background: #A9F5D0;
    display: font: ;
    min-height: 100vh;
}

fieldset {
    padding: 50px;
}

h1 {
    font-style: oblique;
    font-display: auto;
}
